/*<meta />*/

/* Prevents Safari in landscape orientation from zooming in on text*/

body
{
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 16px;
}

/* Default css class for hiding element*/

.hidden
{
	display: none;
}

a.glossaryTerm
{
	text-decoration: none;
}

/**/

#ios-wrapper
{
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.img_off
{
	display: none;
}

/* Feedback/Pulse */

.pulse-required,
.feedback-required,
.feedback-topic-required
{
	display: none;
}

.pulse-active .pulse-required,
.feedback-active .feedback-required,
.feedback-active.has-topic .feedback-topic-required
{
	display: block;
}

/* Login Dialog */

.login-dialog
{
	display: none;
	z-index: 10001;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -175px;
	width: 350px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.login-dialog.pulse
{
	position: fixed;
	width: 408px;
	height: 428px;
	margin-left: -204px;
	margin-top: -214px;
}

#pulse-login-frame
{
	width: 100%;
	height: 100%;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 4px 10px #333333;
	-moz-box-shadow: 0 4px 10px #333333;
	box-shadow: 0 4px 10px #333333;
}

.login-dialog-header
{
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding-left: 50px;
	border-bottom: solid 1px #2B2B2B;
	background: #5A5A5A url("Images/login-dialog-icon.png") no-repeat 18px center;
	/* Old browsers */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -moz-linear-gradient(top, #5A5A5A 0%, #4A4A4A 100%);
	/* FF3.6+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5A5A5A), color-stop(100%,#4A4A4A));
	/* Chrome,Safari4+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -webkit-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -o-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* Opera11.10+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, -ms-linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* IE10+ */
	background: url("Images/login-dialog-icon.png") no-repeat 18px center, linear-gradient(top, #5A5A5A 0%,#4A4A4A 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/login-dialog-icon.png") no-repeat 18px center, linear-gradient(#5A5A5A, #4A4A4A);
	/*PIE*/
	background-repeat: no-repeat;
	background-position: 18px center;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.login-dialog-content
{
	border-top: solid 1px #767676;
	background: #5A5A5A;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding: 17px;
}

.login-dialog-content .profile-item-wrapper
{
	color: #CECECE;
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
}

.login-dialog-content .profile-item-wrapper .label-wrapper
{
	margin-bottom: 5px;
	float: left;
}

.login-dialog-content .profile-item-wrapper .input-wrapper
{
	float: right;
}

.login-dialog-content .profile-item-wrapper input[type=text]
{
	margin: 0;
	padding: 5px;
	border: solid 1px #191919;
	background: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
	outline: none;
}

.login-dialog-content .profile-item-wrapper.email-notifications-wrapper
{
	margin-top: 15px;
	height: auto;
	line-height: normal;
}

.login-dialog-content .profile-item-wrapper.email-notifications-wrapper .label-wrapper
{
	float: none;
}

.login-dialog-content .profile-item-wrapper.email-notifications-wrapper .email-notifications-group
{
	margin-right: 0;
	padding: 12px;
	background-color: #4A4A4A;
	background-repeat: no-repeat;
	background-position: center center;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px #888;
	-moz-box-shadow: 0 1px #888;
	box-shadow: 0 1px #888;
}

.login-dialog-content .profile-item-wrapper.error input,
.login-dialog-content .profile-item-wrapper.error select
{
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.login-dialog-buttons
{
	text-align: right;
}

.login-dialog button
{
	color: #FFF;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 0;
	padding: 8px 26px;
	border: solid 1px #2B2B2B;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #595959;
	/* Old browsers */
	background: -moz-linear-gradient(top, #595959 0%, #4A4A4A 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#4A4A4A));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* IE10+ */
	background: linear-gradient(top, #595959 0%,#4A4A4A 100%);
	/* W3C */
	-pie-background: linear-gradient(#595959, #4A4A4A);
	/*PIE*/
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.login-dialog button.close-dialog
{
	position: absolute;
	top: 8px;
	right: 8px;
	background: none;
	background-image: url('Images/close.png');
	height: 16px;
	width: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}

.login-dialog .status-message-box
{
	display: none;
	color: #0F0;
	text-align: center;
	margin-top: 16px;
	padding: 12px;
	background-color: #DCFEDC;
	border: solid 1px #0F0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.login-dialog .status-message-box.error
{
	color: #F00;
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.login-dialog .status-message-box .message
{
	display: none;
}

.backlink-container
{
	position: absolute;
	bottom: 11px;
	right: 20px;
}

.backlink-container-topnav
{
	bottom: 4px;
	right: 4px;
}

.backlink-container-sidenav
{
	bottom: 20px;
	right: 20px;
}

#mc-backlink
{
	text-decoration: none;
	color: #7d858a;
	font-size: 15px;
	font-family: Arial;
	font-weight: normal;
}

#mc-backlink > sup
{
	font-size: 12px;
}

.height-container
{
	/* just to contain top margin of element inside */
	padding-top: 0.1px;
	position: relative;
	box-sizing: border-box;
}

.height-container-no-footer
{
	padding-bottom: 30px;
}

.height-container-sidenav
{
	padding-bottom: 40px;
}

/* to contain floating elements in the div */

.height-container:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.codeSnippet
{
	overflow: auto;
}

.codeSnippetBody
{
	margin: 0;
	font-family: inherit;
	overflow: auto;
}

.codeSnippetBody > pre
{
	font-family: inherit;
	margin: 0;
}

.codeSnippetBody > pre > code
{
	font-family: inherit;
}

.codeSnippetBody span.codeSnippetLineNumbers
{
	text-decoration: inherit;
	float: left;
	margin-top: 0;
	margin-right: 0.5rem;
	padding-right: 1rem;
	text-align: right;
}

.codeSnippetCopyButton
{
	font: inherit;
	right: 0;
}

.xref
{
	text-decoration: underline;
	font-weight: normal;
	color: #2d8dcc;
}

.xref:hover
{
	color: #8fbc8b;
}

div.MCBreadcrumbsBox_0
{
	border-bottom: none;
	font-style: italic;
	color: #696969;
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: black;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
}

.dropDownHotspot
{
	font-size: 1em;
	text-decoration: underline;
	font-family: Verdana, Arial, sans-serif, 'Microsoft Sans Serif', 'Source Sans Pro';
	color: #4d75b3;
	font-weight: normal;
}

.dropDownHotspot:link
{
	font-size: 1em;
	text-decoration: underline;
	font-family: Verdana, Arial, sans-serif, 'Microsoft Sans Serif', 'Source Sans Pro';
	color: #4d75b3;
	font-weight: normal;
}

.dropDownHotspot:hover
{
	font-weight: bold;
	color: #4d75b3;
}

.MCDropDown_Open .MCDropDownHotSpot_.MCHotSpotImage
{
	background-position: left;
	background-image: url('DropDownOpen.png');
	padding-left: 0px;
	padding-right: 0;
}

.MCDropDown_Closed .MCDropDownHotSpot_.MCHotSpotImage
{
	background-position: left;
	background-image: url('DropDownClosed.png');
	padding-left: 0px;
	padding-right: 0;
}

.dropDownHead
{
	font-size: inherit;
	text-decoration: underline;
	font-weight: bold;
	color: #4574b1;
}

.dropDownBody
{
	border-bottom: solid 1px #bed230;
}

.popup
{
	color: #2D8DCC;
}

.popup:link
{
	color: #2D8DCC;
}

.popupHead
{
	color: #2D8DCC;
	font-weight: bold;
}

.popupHead:link
{
	color: #2D8DCC;
	font-weight: bold;
}

.popup:hover
{
	color: #2D8DCC;
}

.popup:focus
{
	color: #2D8DCC;
}

.popupBody
{
	color: #000000;
	background-color: #dcdcdc;
	border: solid 1px #000000;
	margin: 0px;
	padding: 5px;
}

.MCTextPopupArrow
{
	border-bottom-color: #dcdcdc;
}

.MCTextPopupBodyBottom .MCTextPopupArrow
{
	border-top-color: #dcdcdc;
}

.dropDownHotspot.dropDownHotspotHeading
{
	font-size: 1.2em;
	text-decoration: underline;
	color: #4d75b3;
}

.dropDownHotspot.dropDownHotspotHeading:link
{
	font-size: 1.2em;
	text-decoration: underline;
	color: #4d75b3;
}

.dropDownHotspot.dropDownHotspotdropspot
{
	color: #4d75b3;
}

.dropDownHotspot.dropDownHotspotdropspot:link
{
	color: #4d75b3;
}

.expandingHead
{
	font-size: inherit;
	color: #2d8dcc;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: underline;
}

.expandingHead:link
{
	font-size: inherit;
	color: #2d8dcc;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: underline;
}

.MCExpanding_Open .MCExpandingHotSpot_.MCHotSpotImage
{
	background-position: right;
	background-image: url('ExpandingOpen.gif');
	padding-right: 1px;
	padding-left: 0;
}

.MCExpanding_Closed .MCExpandingHotSpot_.MCHotSpotImage
{
	background-position: right;
	background-image: url('ExpandingClosed.gif');
	padding-right: 0px;
	padding-left: 0;
}

div.MCMiniTocBox_miniTocProxyDepth1_0
{
	font-size: 9pt;
	font-family: Verdana;
	color: #556b2f;
	border-width: 1px;
	text-indent: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	padding-top: 10px;
	margin-top: 10px;
	padding-left: 20px;
}

p.MiniTOC1_0
{
	margin-bottom: 2pt;
	margin-top: 5pt;
	overflow: auto;
	font-size: 9pt;
	font-family: Verdana, Arial, sans-serif, 'Microsoft Sans Serif', 'Source Sans Pro';
	display: block;
	margin: 1.12em 0;
	margin-left: 0pt;
	font-weight: bold;
}

a.MiniTOC1:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	color: black;
	font-size: 9pt;
	font-family: Verdana, Arial, sans-serif, 'Microsoft Sans Serif', 'Source Sans Pro';
	font-weight: bold;
	text-decoration: none;
}

p.MiniTOC2_0
{
	margin-bottom: 2pt;
	margin-top: 2pt;
	overflow: auto;
	font-size: 9pt;
	font-family: Verdana, Arial, sans-serif, 'Microsoft Sans Serif', 'Source Sans Pro';
	display: block;
	margin: 1.12em 0;
	margin-left: 10pt;
}

a.MiniTOC2:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	color: black;
	font-size: 9pt;
	font-family: Verdana, Arial, sans-serif, 'Microsoft Sans Serif', 'Source Sans Pro';
	text-decoration: none;
}

.a
{
	color: #008000;
}

.a:link
{
	color: #2d8dcc;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: underline;
}

.a:visited
{
	color: #2d8dcc;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: underline;
}

.a:hover
{
	color: #8fbc8b;
	font-family: Verdana, Arial, sans-serif;
}

.a:active
{
	outline: thin dotted invert;
}

.a:focus
{
	outline: thin dotted invert;
}

div.MCMiniTocBox_miniTocStyle_0
{
	font-size: 9pt;
	font-family: 'Source Sans Pro', Arial, Verdana, sans-serif;
	color: #556b2f;
	border-width: 1px;
	text-indent: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	padding-top: 0px;
	margin-top: 1px;
	padding-left: 5px;
	font-style: italic;
	border: solid 1px #000000;
	vertical-align: 2px;
	margin-bottom: 3px;
}

table.AutoNumber_p_NumList-1
{
	overflow: auto;
	margin-left: 0.5in;
	margin-right: 0.5in;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

td.AutoNumber_p_NumList-1
{
	overflow: auto;
	font-size: 1em;
	font-family: Verdana, Arial, sans-serif, 'Microsoft Sans Serif', 'Source Sans Pro';
}

.dropDownHead:link
{
	font-size: inherit;
	text-decoration: underline;
	font-weight: bold;
	color: #4574b1;
}

.MCWebHelpFramesetLink a
{
	
}

.MCWebHelpFramesetLink.MCWebHelpFramesetLinkTop a
{
	
}

.MCWebHelpFramesetLink.MCWebHelpFramesetLinkBottom a
{
	
}

