<?xml version="1.0" encoding="UTF-8"?>

<application>
    <framework>
        <attributes>
            <key name="config.maskPath">application.framework.attributes.key.,application.groups.group.,application.groupExtensions.forGroup.,.attributes.key</key>
            <key name="config.dump">true</key>
            <key name="log.config">config/log4j2Config.xml</key>
            <key name="log.class">nais.logger.remoteSite</key>
            <key name="log.filename">naisSite</key>
            <key name="log.path">temp/logs/</key>
            <key name="display.datetimeFormat">YYYMMDD HH24:mm:ss</key>
            <key name="message.datetimeFormat">yyyyMMddHHmmssS</key>
            <key name="localStore.directory">temp/</key>
        </attributes>
    </framework>
	<services>
		<key name="processing.threads">20</key>
		<!--  all/6, debug/5, info/4, warn/3, error/2, fatal/1, none/0 -->
		<key name="processing.debug">info</key>
		<key name="sender.port">31414</key>
		<key name="sender.file">E:\development\opt\nbspace-mars\AISParser\references\test\003669771_20200825.log</key>
		<key name="sender.interval">0</key>
		<activeList>realtime</activeList>
		<service name="localfile">
			<attributes>
				<key name="type">file</key>
				<key name="filename">E:\development\opt\nbspace-mars\AISParser\references\test\003669771_20200825.log</key>
				<key name="interval">0</key>
				<key name="loop">false</key>
			</attributes>
		</service>
		<service name="lab1">
			<attributes>
				<key name="type">net</key>
				<key name="site.host">10.30.17.76</key>
				<key name="site.port">10001</key>
				<key name="monitor.noDataTimeout">2500</key>
				<key name="monitor.idleTimeout">5000</key>
	            <key name="log.class">nais.logger.socketConnector</key>
				<key name="site.name">SITESVR1</key>
				<key name="site.id">306</key>
			</attributes>
		</service>
		<service name="lab2">
			<attributes>
				<key name="type">net</key>
				<key name="site.host">10.30.17.77</key>
				<key name="site.port">10001</key>
				<key name="monitor.noDataTimeout">2500</key>
				<key name="monitor.idleTimeout">5000</key>
	            <key name="log.class">nais.logger.socketConnector</key>
				<key name="site.name">SITESVR2</key>
				<key name="site.id">307</key>
			</attributes>
		</service>
		<service name="naisbs1">
			<attributes>
				<key name="type">net</key>
				<key name="site.host">10.164.98.166</key>
				<key name="site.port">10001</key>
				<key name="monitor.noDataTimeout">2500</key>
				<key name="monitor.idleTimeout">5000</key>
	            <key name="log.class">nais.logger.socketConnector</key>
				<key name="site.name">NAISBS1</key>
				<key name="site.id">1003</key>
			</attributes>
		</service>
		<service name="realtime">
			<attributes>
				<key name="type">net</key>
				<key name="site.host">localhost</key>
				<key name="site.port">31414</key>
				<key name="monitor.noDataTimeout">2500</key>
				<key name="monitor.idleTimeout">5000</key>
	            <key name="log.class">nais.logger.socketConnector</key>
				<key name="site.name">NAIS</key>
				<key name="site.id">1004</key>
			</attributes>
		</service>
	</services>
</application>
