<?xml version="1.0" encoding="UTF-8"?>

<application>
    <framework>
        <attributes>
            <key name="config.maskPath">application.framework.attributes.key.,application.groups.group.,application.groupExtensions.forGroup.,.attributes.key</key>
            <key name="config.dump">true</key>
            <key name="log.config">config/log4j2Config.xml</key>
            <key name="log.class">nais.logger.remoteSite</key>
            <key name="log.filename">naisSite.log</key>
            <key name="log.path">temp/logs/</key>
            <key name="display.datetimeFormat">YYYMMDD HH24:mm:ss</key>
            <key name="message.datetimeFormat">yyyyMMddHHmmssS</key>
            <key name="localStore.directory">temp/</key>
        </attributes>
    </framework>
</application>
